/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

* {
  color: #01161E;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FFFAFA;
}

// ---FOOTER---
.nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #598392;
  padding: 5px;
}

a {
  color: #01161E;
}

a:hover {
  text-decoration: none;
  color: #EFF6E0;
}

// ---HEADER---
#header {
  margin-bottom: 20px;
  background-color: #598392;
}

nav.navbar.navbar-light{
  text-align: right;
}

li {
  padding: 5px;
}

// ---HOME---
img {
  width: 100vw;
}

#home {
  height: 100vh;
  text-align: center;
}

// ---INDEX---
#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-secondary {
  background-color: #124559;
}

.btn-secondary:hover {
  background-color: #598392;
  color: #01161E;
}
