@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

h3 {
  text-align: center;
  padding: 20px;
}

.button {
  background-color: #810000;
  margin: 5px;

}

// --HEADER--
.header-main {
  height: 100px;
  background-color: #EEEBDD;
}
.icon {
  height: 100px;
  padding: 5px;
}
.nav {
  margin-top: 65px;
  float: right;
}
a {
  padding: 15px;
  color: #1B1717;
  font-weight: bold;
}
a:hover {
  color: #1B1717;
}

// --HOME--
.apartment-background {
  width: 100vw;
  position: fixed;
  opacity: .7;
}

// --INDEX--
.cards.row {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.card.card-body {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 22px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}
p.card-button {
  margin-top: 40px;
}
.fa-icon {
  margin-right: 10px;
}
.col-sm-4 {
  margin-bottom: 50px;
}

// --SHOW--
.show-card-container {
  display: flex;
  justify-content: center;
}
.show-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 22px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  padding: 60px;
}

// --NEW--
.form-container {
  margin: 100px;
}

// --PROTECTED INDEX--
.my-show-card{
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 22px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
}
.my-card-button {
  display: flex;
  justify-content: center;
}

@media (max-width:500px) {
  .nav {
    margin-top: 0px;
    float: right;
  }
}
